*{
    margin-top: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
    max-width: 1220px;
}
dl{
    margin: 20px;
    padding: 20px;
    background-color: rgb(201, 199, 199);
    box-shadow: 3px 3px 10px 2px rgb(74, 74, 74);
    border-radius: 10px;
}
dt{
    color: rgb(225, 17, 17);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3px;
}
dd{
    color: rgb(32, 57, 77);
    font-size: 20px;
    margin-bottom: 10px;
}